* {
    background-color: #F5F9E9;
    font-family: Verdana, sans-serif;
    font-size: 20px;

}


h1 {
    background-color:  #36453B;
    color: #F5F9E9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    padding: 50px;

}

h2 {
    font-size: 34px;
    color:  #36453B;
   
}

h3 {
    font-size: 24px;
    color:  #36453B;
}

.section {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex: space-between;
    padding: 50px;
}

img {
    width: 600px;
    height: 600px;
    margin: 50px;
    border: 5px solid #36453B;
}
